<body>
    <form method="POST" action="/">
        Name
        <input name="name" type="text">
        TechStack
        <input name="techstack" type="text">
        <button type="submit">SUBMIT</button>
    </form>
</body>