<body>
    <form method="POST" action="/list/<%= id %>">
        <input name="name" type="text">
        <input name="techstack" type="text">
        <button type="submit">SUBMIT</button>
    </form>
</body>